# Correlation

###  Daily Weekends Count, Weekdays Count, and Holidays Counts for Top 3 Areas

In [ ]:
%matplotlib inline
import seaborn as sns
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data

In [5]:
daily_freq = pd.read_csv('wkend_wkdays_holidays_daily_freq.csv')
daily_freq.info()
daily_freq.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
day              31 non-null int64
weekend_count    31 non-null int64
weekday_count    31 non-null int64
holiday_count    31 non-null int64
count_NN         31 non-null int64
count_LP         31 non-null int64
count_NW         31 non-null int64
dtypes: int64(7)
memory usage: 1.8 KB

,day,weekend_count,weekday_count,holiday_count,count_NN,count_LP,count_NW
0,1,1,364,2,183878,136445,51811
1,2,4,361,0,188186,136694,50577
2,3,5,360,0,188191,129722,47560
3,4,3,362,1,185935,134173,49244
4,5,3,362,2,182569,132112,48002

In [6]:
daily_freq.corr()

,day,weekend_count,weekday_count,holiday_count,count_NN,count_LP,count_NW
day,1.000000,0.007445,-0.007445,-0.067028,-0.431329,-0.429429,-0.446415
weekend_count,0.007445,1.000000,-1.000000,-0.196957,0.056967,-0.251339,-0.218524
weekday_count,-0.007445,-1.000000,1.000000,0.196957,-0.056967,0.251339,0.218524
holiday_count,-0.067028,-0.196957,0.196957,1.000000,-0.209802,-0.139587,-0.117693
count_NN,-0.431329,0.056967,-0.056967,-0.209802,1.000000,0.918059,0.928940
count_LP,-0.429429,-0.251339,0.251339,-0.139587,0.918059,1.000000,0.988334
count_NW,-0.446415,-0.218524,0.218524,-0.117693,0.928940,0.988334,1.000000