# Euclidian Distance: Threshold for Outlier Detection

In [1]:
%matplotlib inline
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plot

## Read Data for Top 30 Areas

In [2]:
data = pd.read_csv('dataset_kmeans_clustering_top30.csv')
print(data.shape)
data.head()

(363, 4)

   pickup_lat  pickup_lon  count_pickup_loc  class
0           8         220                 2      0
1          20         378                 2      0
2          66         405                 2      0
3         194         493                 2      0
4         296         569                 2      0

In [3]:
data.describe()

       pickup_lat  pickup_lon  count_pickup_loc       class
count  363.000000  363.000000      3.630000e+02  363.000000
mean   270.586777  543.438017      2.548047e+04    1.504132
std    188.902164  178.849480      9.414430e+04    1.118335
min      0.000000   15.000000      2.000000e+00    0.000000
25%    117.000000  427.500000      1.500000e+01    1.000000
50%    227.000000  578.000000      1.690000e+02    2.000000
75%    399.500000  694.000000      4.764500e+03    2.500000
max    765.000000  785.000000      1.097844e+06    3.000000

## Compute Distance among data objects using Euclidian

In [9]:
from scipy.spatial.distance import pdist, squareform

dist = pdist(data[['pickup_lat', 'pickup_lon', 'count_pickup_loc']], 'euclidean')
df_dist = pd.DataFrame(squareform(dist))
df_dist = df_dist.replace(0,100)  # replace 0 with 100 to find the correct min distance
df_dist.head()

,0,1,2,3,4,5,6,7,8,9,...,353,354,355,356,357,358,359,360,361,362
0,100.000000,158.455041,193.878828,330.340733,452.487569,338.710791,227.002203,441.184769,260.224903,715.178999,...,282895.456402,306816.340095,328603.407838,346781.662118,378453.590245,449378.000032,456090.113250,555342.232186,628968.501603,1.097842e+06
1,158.455041,100.000000,53.338541,208.568933,335.644157,278.519299,170.299736,379.578714,135.325533,607.415015,...,282895.230997,306816.233405,328603.275058,346781.468976,378453.387731,449378.026264,456090.048854,555342.139659,628968.378541,1.097842e+06
2,193.878828,53.338541,100.000000,155.331903,282.481858,232.215417,132.034087,330.945615,81.987804,554.147995,...,282895.176194,306816.174518,328603.210931,346781.385426,378453.317261,449378.040055,456090.027364,555342.104473,628968.322307,1.097842e+06
3,330.340733,208.568933,155.331903,100.000000,127.200629,142.898565,136.091881,211.596314,73.878278,398.848342,...,282895.067461,306816.059818,328603.075765,346781.188714,378453.151640,449378.119240,456090.000861,555342.030918,628968.184367,1.097842e+06
4,452.487569,335.644157,282.481858,127.200629,100.000000,174.011494,237.472104,171.233758,201.022387,272.007353,...,282895.039345,306816.026403,328603.021000,346781.079741,378453.062387,449378.225240,456090.018853,555342.003061,628968.100248,1.097842e+06

In [10]:
df_dist.describe()

,0,1,2,3,4,5,6,7,8,9,...,353,354,355,356,357,358,359,360,361,362
count,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,3.630000e+02,...,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,363.000000,3.630000e+02
mean,2.572037e+04,2.566205e+04,2.563949e+04,2.559994e+04,2.559722e+04,2.561733e+04,2.562758e+04,2.562681e+04,2.561376e+04,2.567759e+04,...,268448.505204,291183.303067,312009.986603,329486.985380,360111.945399,429083.210429,435647.082333,533258.516437,606073.321508,1.072364e+06
std,9.407960e+04,9.409513e+04,9.410114e+04,9.411166e+04,9.411236e+04,9.410699e+04,9.410429e+04,9.410443e+04,9.410799e+04,9.409090e+04,...,55189.557653,56663.512642,58158.301663,59348.292838,61315.806808,66555.135835,67000.649694,72415.276881,75693.328945,9.414115e+04
min,8.041144e+01,2.596151e+01,2.830194e+01,3.453983e+01,3.182766e+01,3.215587e+01,2.374868e+01,2.090454e+01,2.664583e+01,5.830952e+00,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02
25%,4.253162e+02,3.262186e+02,2.900176e+02,2.113704e+02,2.261456e+02,2.724195e+02,2.663792e+02,3.068859e+02,2.482057e+02,3.526235e+02,...,278212.205459,302133.098118,323873.055980,342051.113775,373723.119146,444648.285818,451360.068571,550579.540756,624205.658342,1.093080e+06
50%,6.440085e+02,5.479151e+02,4.997649e+02,4.038118e+02,3.852194e+02,4.309722e+02,4.530188e+02,4.435550e+02,4.346619e+02,5.671164e+02,...,282736.426489,306657.319909,328438.103438,346616.019988,378288.059135,449213.671686,455925.241851,555175.140789,628801.358111,1.097675e+06
75%,4.785621e+03,4.776335e+03,4.771555e+03,4.765967e+03,4.766175e+03,4.763327e+03,4.765524e+03,4.763744e+03,4.767287e+03,4.777190e+03,...,282883.117471,306804.026400,328590.655199,346768.674092,378440.622694,449365.898392,456077.597718,555329.079001,628955.139822,1.097829e+06
max,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,1.097842e+06,...,814947.025418,791026.096149,769239.103137,751061.158509,719389.121214,648464.114400,641752.043992,555342.232186,628968.501603,1.097842e+06

## Find Max Distance

In [21]:
my_max = df_dist.max().max()
print('Max: ', my_max)

Max:  1097842.125719814

## Find Min Distance

In [19]:
my_min = df_dist.min().min()
print('Min: ', my_min)

Min:  5.0990195135927845

## Compute the value for Threshold

In [20]:
threshold = (my_max + my_min ) / 2  # average of min- and max-distance
print('Threshold: ', threshold)

Threshold:  548923.6123696639