# Weekend, Weekday, & Holiday Frequency

In [1]:
import math
import pandas as pd
import numpy as np
import scipy as sci
from scipy import stats
import matplotlib.pyplot as plt
from dateutil.parser import parse

## Read Data and Fill NAN with Zero

In [2]:
weekend_holiday = pd.read_csv('weekend_holiday_count.csv')
weekend_holiday = weekend_holiday.fillna(0)
weekend_holiday.info()
weekend_holiday.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
weekend          31 non-null int64
weekend_count    31 non-null int64
weekday          31 non-null int64
weekday_count    31 non-null int64
holiday          31 non-null float64
holiday_count    31 non-null float64
dtypes: float64(2), int64(4)
memory usage: 1.5 KB

   weekend  weekend_count  weekday  weekday_count  holiday  holiday_count
0        1              1        1            364      0.0            0.0
1        2              4        2            361     27.0            1.0
2        3              5        3            360     17.0            3.0
3        4              3        4            362     26.0            1.0
4        5              3        5            362      7.0            1.0

## Convert float to int and Read the reduced dataframe

In [3]:
# Convert float to int
weekend_holiday["holiday"] = weekend_holiday["holiday"].astype(int)
weekend_holiday["holiday_count"] = weekend_holiday["holiday_count"].astype(int)
weekend_holiday

    weekend  weekend_count  weekday  weekday_count  holiday  holiday_count
0         1              1        1            364        0              0
1         2              4        2            361       27              1
2         3              5        3            360       17              3
3         4              3        4            362       26              1
4         5              3        5            362        7              1
5         6              4        6            361        9              1
6         7              3        7            362        6              1
7         8              2        8            363        0              0
8         9              4        9            361       14              2
9        10              5       10            360        1              2
10       11              3       11            362       21              1
11       12              3       12            362       19              1
12       13              4       13            361       11              2
13       14              3       14            362       13              1
14       15              2       15            363        0              0
15       16              4       16            361        8              2
16       17              5       17            360       15              3
17       18              3       18            362       30              1
18       19              3       19            362       24              1
19       20              4       20            361       25              2
20       21              3       21            362       16              1
21       22              2       22            363        0              0
22       23              4       23            361       28              1
23       24              5       24            360        5              2
24       25              3       25            362       23              1
25       26              3       26            362       10              1
26       27              4       27            361        4              1
27       28              3       28            362        0              0
28       29              2       29            363        0              0
29       30              4       30            361       31              2
30       31              3       31            362       12              1